th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

caption {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

p,
dt {
  font-weight: bold;
}

dl,
dd {
  font-size: 0.9rem;
}

dd {
  margin-bottom: 1em;
}
