p{
    background-color: aquamarine;
}

a{
    font-weight: 500;
    font-size: 1.2em;
    color: red;
    text-decoration: none;
    background-color: bisque;
}

div{
    background-color: lightblue;
}

span{
    background-color: rgb(190, 255, 190);
    font-size: 1.5em;
}
